!!! 5
%html
  %head
    %title Acronyms &amp; Abbreviations
    %style
      body { background-color: #fff; color: #000; font-family: Verdana, Arial; }
      table { border-collapse: collapse; padding: 1em 0; }
      th { border-bottom: 1px solid #000; padding: 0.5em 1em; text-align: left; }
      td { border: 0; padding: 0.5em 1em; text-align: left; }
      tr:nth-child(even) { background-color: #eee; }

  %body
    %h1 Acronyms &amp; Abbreviations
    %p
      When working with public sector organisations, you may come across
      numerous acronyms and abbreviations that you do not understand.

    %table
      %tr
        %th Acronym
        %th Meaning
      - rows.each do |row|
        - unless row.empty?
          %tr
            %td
              - unless row['website'].to_s.empty?
                %a{ href: row['website'] }
                  = row['acronym']
              - else
                = row['acronym']
            %td
              = row['meaning']

